<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="UTIL-TOOL-ONLINE: A collection of free online developer tools for text manipulation, data conversion, hashing, cryptography, and more. Simplify your coding tasks with our easy-to-use utilities.">
  <meta name="keywords" content="developer tools, online utilities, text tools, data conversion, JSON formatter, XML converter, Base64, hashing, cryptography, SHA1, SHA256, MD5, HMAC, JWT, bcrypt, loan calculator, RGB converter, timestamp converter, HTML encode decode, URL encode decode, word counter, free online tools">
  <meta name="author" content="SOFTICA">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <%- include('partials/header') %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <%- include('partials/left-menu') %>
      </div>
      <div class="col-md-9">
        <h1 class="mb-4">Developer Utility Tools</h1>
        <%- include('partials/tool-cards') %>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>

  <script>
    $(document).ready(function() {
      $('#left-menu').on('shown.bs.collapse', function(e) {
        $(e.target).prev().find('.badge').text("-");
      });
      $('#left-menu').on('hidden.bs.collapse', function(e) {
        $(e.target).prev().find('.badge').text("+");
      });
    });
  </script>
</body>

</html>